<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify Cat or Dog Breed</div>
    <p>
      This work is a fork of https://github.com/render-examples/fastai-v3 and modified to classify cat or dog breed.
    </p>
    <p>
      The classifier is ResNet34 trained on The Oxford-IIIT Pet Dataset (https://www.robots.ox.ac.uk/~vgg/data/pets/). The training used FastAI v1 
      and achieved 93.3% accuracy on validation set.
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
    <p>
      Use image of <strong>cat</strong> or <strong>dog</strong> 
    </p>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
